schemas/HEAR_1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns="http://hear.org/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:xhtml="http://www.w3.org/1999/xhtml" 
	targetNamespace="http://hear.org/" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	
	<xs:annotation><xs:documentation>
			xs is the standard W3C Schema namespace
	</xs:documentation></xs:annotation>
	
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
		<xs:annotation><xs:documentation>Permits use of XHTML in descriptive elements</xs:documentation></xs:annotation>
	</xs:import>
	<xs:annotation>
		<xs:documentation xml:lang="en">
		Namespace materials removed, except for XHTML, which is needed for descriptive long textual elements.
		
		This file with tentative corrections and additions 
		coordinated by Simon Grant, around 2017-01-06
		
		compiled from: 
		HEAR XML schema version 1.0 Release: 2011-04-21
		UNOFFICIAL HEAR XML schema version 1.0.1 Update: 2011-07-06
		
		Should the following be 'required, exactly one', as specified in the XML specification, 1.0b:
		    minimumStandards, 
		    mlo:objective (aim), 
		    learningOutcome, 
		    accessRequirements, 
		    languageOfInstruction, 
		    languageOfAssessment
		  
		
		More documentation may be available through http://cetis.github.io/hear/
		HEAR XML schema version 1.0.1 Update: 2011-07-06 - this version not yet official!
		
		  
		  Added issuerDescription element to issuer, for compliance with EuroLMAI Europass DS AP.
  
		Alan Paull, Scott Wilson, HEAR Technical Specification Group
		Full documentation (was) available from http://www.xcri.org/wiki/index.php/HEAR_1.0b_Specification
		
		*** 19 January 2012 ***
		Minor revision of import elements as XCRI schema locations have changed.
		</xs:documentation>
	</xs:annotation>
	
<!-- Data type definitions -->
	
	<xs:complexType name="achievementReportDType">
		<xs:annotation><xs:documentation>Root element</xs:documentation></xs:annotation>
		<xs:sequence>
			<xs:element ref="referenceData" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="issuer" minOccurs="1"/>
			<xs:element ref="learner" minOccurs="1"/>
			<xs:element ref="provider" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="additionalInformation" minOccurs="1"/>
			<xs:element ref="certificationOfTheHEAR" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="status" type="statusDType"/>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="additionalInformationDType">
		<xs:sequence>
			<xs:element ref="prizes" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="additionalAwards" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="recognisedActivities" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="informationSources" minOccurs="0" maxOccurs="unbounded"/>			
			<xs:element ref="ePortfolioUrl" minOccurs="0"/>
			<xs:element ref="furtherInformation" minOccurs="0" maxOccurs="unbounded"/>		
		</xs:sequence>
		<xs:attribute name="idRef" type="idRefDType"/>
	</xs:complexType>
	
	<xs:complexType name="Association" mixed="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				This type permits either inclusion of sub-elements (resources)
				or just plain text or the use of a literal URI to associate the containing
				resource with a target.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:any processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="assessmentDType">
		<xs:sequence>
			<xs:element ref="identifier" minOccurs="0"/>
			<xs:element ref="title" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="assessmentType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="assessmentWeight" minOccurs="0"/>
			<xs:element ref="attempts" minOccurs="0"/>
			<xs:element ref="result" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="gradingScheme" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="idRef" type="idRefDType"/>
	</xs:complexType>
	
	<xs:complexType name="awardedByDType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="idRef" type="idRefDType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="certificationDType">
		<xs:sequence>
			<xs:element ref="identifier" minOccurs="1"/>
			<xs:element ref="issueDateHear" minOccurs="1"/>
			<xs:element ref="fullNameOfficial" minOccurs="1"/>
			<xs:element ref="capacity" minOccurs="1"/>
			<xs:element ref="signature" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="idRef" type="idRefDType"/>
	</xs:complexType>
	
	<xs:complexType name="commonAndCommonDescriptiveElements">
		<xs:annotation>
			<xs:documentation>
				commonAndCommonDescriptiveElements can appear in course and presentation.
				These elements are specifically designed to hold descriptions of the topic
				indicated by the name. Abstract is intended to be a short (one line) 
				summary, though this is not enforced. 
				The mlo schema defines prerequisiteDType, objectiveDType and assessmentDType
				separately. As these are identical to descriptionDType, I have declared them
				as descriptionDType elements for simplicity.
				All of these elements are 'inheritable', that is content can be inferred within 
				child elements from a parent element.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="commonElements">
				<xs:sequence>
					<xs:element ref="abstract" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
					<xs:element ref="applicationProcedure" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
					<xs:element ref="assessment" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
					<xs:element ref="learningOutcome" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
					<xs:element ref="objective" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
					<xs:element ref="prerequisite" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
					<xs:element ref="regulations" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="commonElements">
		<xs:annotation>
			<xs:documentation>
				commonElements can appear in provider, course and presentation.
				These elements provide the general metadata for identifying and describing the resource.
				commonElements also form part of the commonAndCommonDescriptiveElements used in
				course and presentation.
				The following elements are 'inheritable', that is content can be inferred within 
				child elements from a parent element: description, image, subject
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="isPartOf" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hasPart" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="contributor" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
			<xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="image" minOccurs="0" maxOccurs="1"/> <!-- inheritable -->
			<xs:element ref="subject" minOccurs="0" maxOccurs="unbounded"/> <!-- inheritable -->
			<xs:element ref="title" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="url" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="courseDType">
		<xs:annotation>
			<xs:documentation>
				The elements in this type, except for presentation, are designed to hold the information
				about the learning opportunity that is fairly static during the opportunity's lifecycle.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="commonAndCommonDescriptiveElements">
				<xs:sequence>
					<xs:element ref="specialFeature" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="level" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="qualification" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="credit" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="presentation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="idRef" type="idRefDType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="creditDType">
		<xs:annotation>
			<xs:documentation>
				From mlo_xcri_profile.xsd and educationalcredit.xsd.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="scheme" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="level" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="durationDType" mixed="true">
		<xs:attribute name="interval" type="xs:string" use="optional"/>
	</xs:complexType>
	
	<xs:simpleType name="dateOrDateTimeDType">
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType>

	<xs:complexType name="descriptionDType" mixed="true">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="xhtml:div" minOccurs="0" />
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute ref="xml:lang" use="optional" />
		<xs:attribute name="href" type="xs:anyURI" use="optional" />
	</xs:complexType>

	<xs:complexType name="hearDescriptionDType" mixed="true">
		<xs:annotation>
			<xs:documentation>Description extension for HEAR descriptive elements. Adds an idRef attribute for linking to reference data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="descriptionDType">
				<xs:attribute name="idRef" type="idRefDType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="idRefDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^0-9].*"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="imageDType" mixed="false">
		<xs:attribute name="src" type="xs:anyURI" use="required"/>
		<xs:attribute name="title" type="xs:string" use="optional"/>
		<xs:attribute name="alt" type="xs:string" use="optional"/>
	</xs:complexType>
	
	<xs:simpleType name="intervalDType">
		<xs:annotation>
			<xs:documentation>Pattern for Duration in ISO8601</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="P[0-9][Y/M/D/W]"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="issuerDType">
		<xs:sequence>
			<xs:element ref="identifier" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="title" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="issuerDescription" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="learnerDType">
		<xs:sequence>
			<xs:element ref="identifier" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="identifierDescription" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="familyName" minOccurs="1"/>
			<xs:element ref="givenNames" minOccurs="1"/>
			<xs:element ref="fullName" minOccurs="1"/>
			<xs:element ref="dateOfBirth" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="idRef" type="idRefDType"/>
	</xs:complexType>
	<xs:complexType name="levelDType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="idType" type="xs:string"/>
				<xs:attribute name="idRef" type="idRefDType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="locationDType">
		<xs:annotation>
			<xs:documentation>
				This type is used for geographical addresses (venues).
				For postal addresses use street, town, postcode.
				For other geo-location properties, use address.
				From mlo_xcri_profile.xsd.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="street" minOccurs="0"/>
			<xs:element ref="town" minOccurs="0"/>
			<xs:element ref="postcode" minOccurs="0"/>
			<xs:element ref="address" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="phone" minOccurs="0"/>
			<xs:element ref="fax" minOccurs="0"/>
			<xs:element ref="email" minOccurs="0"/>
			<xs:element ref="url" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="presentationDType">
		<xs:annotation>
			<xs:documentation>
				This type holds the specific details of individual offerings or instances of 
				the learning opportunity.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="commonAndCommonDescriptiveElements">
				<xs:sequence>
					<xs:element ref="accessRequirements" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="minimumStandards" minOccurs="0" maxOccurs="1"/>
					<xs:element ref="start" minOccurs="1"/>
					<xs:element ref="end" minOccurs="0"/>
					<xs:element ref="duration" minOccurs="0"/>
					<xs:element ref="studyMode" minOccurs="0"/>
					<xs:element ref="assessment" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="attendanceMode" minOccurs="0"/>
					<xs:element ref="attendancePattern" minOccurs="0"/>
					<xs:element name="languageOfInstruction" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="languageOfAssessment" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="venue" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="idRef" type="idRefDType"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="providerDType">
		<xs:complexContent>
			<xs:extension base="commonElements">
				<xs:sequence>
					<xs:element ref="providerStatus" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="course" minOccurs="0" maxOccurs="unbounded" />
					<xs:element ref="location" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="qualificationDType">
		<xs:annotation>
			<xs:documentation>
				This type holds information about the award made as a result of successful 
				achievement of an assessed learning opportunity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="regulations" minOccurs="1" maxOccurs="1"/>						
			<xs:element ref="dualAward" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="professionalStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="furtherStudy" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="terminalAward" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="subject" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="level" minOccurs="1"/>
			<xs:element ref="qualificationHolderTitle" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="issueDateQualification" minOccurs="1"/>
			<xs:element ref="identifier" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="title" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="abbr" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="educationLevel" minOccurs="0"/>
			<xs:element ref="type" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="awardedBy" minOccurs="1"/>
			<xs:element ref="accreditedBy" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="idRef" type="idRefDType"/>
	</xs:complexType>

	<xs:complexType name="referenceDataDType">
		<xs:sequence>
			<xs:element name="referenceDataItem" type="referenceDataItemDType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="referenceDataItemDType">
		<xs:complexContent>
			<xs:extension base="descriptionDType">
				<xs:attribute name="id" type="xs:ID"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="resultDType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="resultType" type="xs:string" use="optional"/>
				<xs:attribute name="idRef" type="idRefDType"/>
				<xs:attribute name="calculationSchemeRef" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="statusDType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>1 = Exit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>2 = Formative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>3 = Deleted</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="stringDType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				Permits attribute type to be added to string elements.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="type" use="optional" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="temporalDType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				Used for all date and time elements, except for date in commonElements, which 
				is a string (for compatibility with Dublin Core approach).
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="dtf" type="dateOrDateTimeDType" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="temporalDTypeStrict" mixed="true">
		<xs:annotation>
			<xs:documentation>
				Used for all date and time elements, except for date in commonElements, which 
				is a string (for compatibility with Dublin Core approach).
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="dtf" type="dateOrDateTimeDType"/>
	</xs:complexType>
	
	<xs:complexType name="venueDType">
		<xs:annotation>
			<xs:documentation>
				Used to specify the location of a venue. Uses provider in venue role.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="provider" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="vocabularyDType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				This type enables the use of key/value pairs. Machine-readable components can be
				entered in @identifier and human-readable components within the element itself.
				From types.xsd.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="xsitype" use="optional" type="xs:string"/>
		<xs:attribute ref="xml:lang" use="optional" />
		<xs:attribute name="identifier" use="optional" type="xs:string"/>
	</xs:complexType>	

<!-- element declarations -->
	

	<xs:element name="abbr" type="stringDType"/>
	<xs:element name="abstract" type="descriptionDType"/>
	<xs:element name="accessRequirements" type="hearDescriptionDType"/>
	<xs:element name="accreditedBy" type="stringDType"/>
	<xs:element name="achievementReport" type="achievementReportDType"/>	<!-- Root element -->
	<xs:element name="additionalAwards" type="hearDescriptionDType"/>
	<xs:element name="additionalInformation" type="additionalInformationDType"/>
	<xs:element name="address" type="stringDType"/>
	<xs:element name="applicationProcedure" type="descriptionDType"/>
	<xs:element name="assessment" type="assessmentDType"/>
	<xs:element name="assessmentType" type="xs:string"/>
	<xs:element name="assessmentWeight" type="xs:string"/>
	<xs:element name="attempts" type="xs:integer"/>
	<xs:element name="attendanceMode" type="vocabularyDType"/>
	<xs:element name="attendancePattern" type="vocabularyDType"/>
	<xs:element name="awardedBy" type="awardedByDType"/>
	<xs:element name="capacity" type="xs:string"/>
	<xs:element name="certificationOfTheHEAR" type="certificationDType"/>
	<xs:element name="contributor" type="stringDType"/>
	<xs:element name="course" type="courseDType"/>
	<xs:element name="credit" type="creditDType"/>
	<xs:element name="date" type="stringDType"/>
	<xs:element name="dateOfBirth" type="xs:date"/>	
	<xs:element name="description" type="descriptionDType"/>
	<xs:element name="dualAward" type="hearDescriptionDType"/>
	<xs:element name="duration" type="durationDType"/>
	<xs:element name="educationLevel" type="stringDType"/>
	<xs:element name="ePortfolioUrl" type="xs:anyURI"/>
	<xs:element name="email" type="stringDType"/>
	<xs:element name="end" type="temporalDTypeStrict"/>
	<xs:element name="familyName" type="xs:string"/>
	<xs:element name="fax" type="stringDType"/>
	<xs:element name="fullName" type="xs:string"/>
	<xs:element name="fullNameOfficial" type="xs:string"/>
	<xs:element name="furtherInformation" type="hearDescriptionDType"/>	
	<xs:element name="furtherStudy" type="hearDescriptionDType"/>
	<xs:element name="givenNames" type="xs:string"/>
	<xs:element name="gradingScheme" type="hearDescriptionDType"/>
	<xs:element name="hasPart" type="Association"/>
	<xs:element name="identifier" type="stringDType"/>
	<xs:element name="identifierDescription" type="hearDescriptionDType"/>
	<xs:element name="image" type="imageDType"/>
	<xs:element name="informationSources" type="hearDescriptionDType"/>	
	<xs:element name="isPartOf" type="Association"/>
	<xs:element name="issueDateQualification" type="xs:date"/>
	<xs:element name="issuerDescription" type="descriptionDType"/>
	<xs:element name="issueDateHear" type="dateOrDateTimeDType"/>
	<xs:element name="issuer" type="issuerDType"/>
	<xs:element name="languageOfAssessment" type="xs:string"/>
	<xs:element name="languageOfInstruction" type="xs:string"/>
	<xs:element name="learner" type="learnerDType"/>
	<xs:element name="learningOutcome" type="descriptionDType"/>
	<xs:element name="level" type="levelDType"/>
	<xs:element name="location" type="locationDType"/>
	<xs:element name="minimumStandards" type="hearDescriptionDType"/>
	<xs:element name="objective" type="descriptionDType"/>
	<xs:element name="phone" type="stringDType"/>
	<xs:element name="postcode" type="stringDType"/>
	<xs:element name="prerequisite" type="descriptionDType"/>
	<xs:element name="presentation" type="presentationDType"/>
	<xs:element name="prizes" type="hearDescriptionDType"/>
	<xs:element name="professionalStatus" type="hearDescriptionDType"/>
	<xs:element name="provider" type="providerDType"/>	
	<xs:element name="providerStatus" type="hearDescriptionDType"/>
	<xs:element name="qualification" type="qualificationDType"/>
	<xs:element name="qualificationHolderTitle" type="xs:string"/>
	<xs:element name="recognisedActivities" type="hearDescriptionDType"/>
	<xs:element name="referenceData" type="referenceDataDType"/>
	<xs:element name="regulations" type="hearDescriptionDType"/>
	<xs:element name="result" type="resultDType"/>
	<xs:element name="scheme" type="stringDType" />
	<xs:element name="signature" type="imageDType"/>
	<xs:element name="specialFeature" type="hearDescriptionDType"/>
	<xs:element name="start" type="temporalDType"/>
	<xs:element name="street" type="stringDType"/>
	<xs:element name="studyMode" type="vocabularyDType"/>
	<xs:element name="subject" type="vocabularyDType"/>
	<xs:element name="terminalAward" type="hearDescriptionDType"/>
	<xs:element name="town" type="stringDType"/>
	<xs:element name="title" type="stringDType"/>
	<xs:element name="type" type="vocabularyDType"/>
	<xs:element name="url" type="xs:anyURI"/>	
	<xs:element name="value" type="stringDType" />
	<xs:element name="venue" type="venueDType"/>
	
	<!-- Extra namespace elements -->
	
	<xs:simpleType name="husid">
		<xs:annotation>
			<xs:documentation>Validation of HUSID.</xs:documentation>
		</xs:annotation>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{13}"/>
			</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="uln">
		<xs:annotation>
			<xs:documentation>Validation of ULN.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ukprn">
		<xs:annotation>
			<xs:documentation>Validation of UKPRN.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9][0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
